@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --body:#ffffff;
  --icons:rgb(0, 0, 0);
}
*{
  @apply p-0 m-0 box-border outline-none ;
}
body{
  background-color: var(--body);
}
.icons{
  @apply text-black;
}
.contentContainer{
  @apply flex-[6];
}
.profile_p{
  @apply text-2xl ;
}
td{
  @apply text-black
}
tr{
  @apply border-b h-16;
}
.Img__user_div{
  @apply flex justify-center items-center pt-2;
}
/* .input-form{
  @apply h-[50px] w-[40%] rounded-lg pl-3 text-xl 
} */
.input_container {
  @apply relative border-b border-black mt-[30px] bg-white;
}

.lable {
  position: absolute;
  top: 0;
  left: 5px;
  transition: all 0.3s linear;
  z-index: 1;
  font-size: 10px;
}

.input_register {
  @apply outline-none relative z-[2] bg-transparent p-[2px_5px] text-xs;
}

input:focus+.lable,
input:valid+.lable {
  top: -18px;
  font-size: 12px;
}