@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --body:#2a3447;
  --icons:white;
}
*{
  @apply p-0 m-0 box-border outline-none ;
}
body{
  background-color: var(--body);
}
.icons{
  @apply text-white;
}
.contentContainer{
  @apply flex-[6];
}
.profile_p{
  @apply text-2xl ;
}
td{
  @apply text-black
}